<div *ngIf="info.token; else loggedOut">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
    <!--- list -->
    <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">List requete</div>
          <div class="panel-body">
            <button class="btn btn-primary " (click)="onGetRequetes()">Requetes</button>
          </div>
          <div class="panel-body">
            <div style="overflow-y:auto;height: 20rem;">
              <table *ngIf="listeRequete" class="table table-striped" >
                <tr><th>Numero</th><th>Titre</th><th>Description</th><th>Date</th><th>Email</th></tr>
                <tr *ngFor="let req of listeRequete">
                    <td>{{req.id}}</td>
                    <td>{{req.titre}}</td>
                    <td>{{req.description}}</td>
                    <td>{{req.date}}</td>
                    <td>{{req.user}}</td>
                    <td><a class="btn btn-danger" (click)="onDeleteRequete(req)">Delete</a></td>

                  </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
 <!---end  list -->



     <!--- list -->
     <div class="container">
      <div class="panel panel-primary">
          <div class="panel-heading">List reponse</div>
          <form  name="formIdReuete"  #f="ngForm" novalidate>
            <input type="text" class="form-control" name="idRequete" placeholder="Numero de Requete" [(ngModel)]="formIdReuete.idRequete" #idRequete="ngModel" required />
        </form>
          <div class="panel-body">
            <button class="btn btn-primary " (click)="onGetReponse()">reponse</button>
          </div>
          <div class="panel-body">
            <div style="overflow-y:auto;height: 20rem;">
              <table *ngIf="listeReponse" class="table table-striped" >
                <tr><th>Titre</th><th>Description</th><th>Date</th><th>Numero Requete</th></tr>
                <tr *ngFor="let rep of listeReponse">
                  
                    <td>{{rep.titre}}</td>
                    <td>{{rep.description}}</td>
                    <td>{{rep.date}}</td>
                    <td>{{rep.idRequete}}</td>
                    <td><a class="btn btn-danger" (click)="onDeleteReponse(rep)">Delete</a></td>

                  </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
 <!---end  list -->


<!---add  reponse-->
<div class="row col-sm-6" style="max-width:350px;">
  <form  name="formReponse" (ngSubmit)="f.form.valid && onAddReponse()" #f="ngForm" novalidate>
  
  <div class="form-group">
    <label for="id">Numero </label>
    <input type="text" class="form-control" name="id" placeholder="Numero de Requete" [(ngModel)]="formReponse.id" #id="ngModel" required />
    <div *ngIf="f.submitted && id.invalid">
      <div *ngIf="id.errors.required">Le titre est requis</div>
    </div>
  </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="formReponse.email" #email="ngModel" required />
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors.required">Le email est requis</div>
      </div>
    </div>
    <div class="form-group">
      <label for="titre">titre</label>
      <input type="text" class="form-control" name="titre" placeholder="Titre" [(ngModel)]="formReponse.titre" #titre="ngModel" required />
      <div *ngIf="f.submitted && titre.invalid">
        <div *ngIf="titre.errors.required">Le titre est requis</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" placeholder="description" [(ngModel)]="formReponse.description" #description="ngModel" required />
      <div *ngIf="f.submitted && description.invalid">
        <div *ngIf="description.errors.required">Le email est requis</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">addReq</button>
      <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
        Signup failed!<br/>{{errorMessage}}
      </div>
    </div>
  </form> 
  
  



<!---end  reponse -->

    <div class="row col-sm-6" style="max-width:350px;">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" name="name" placeholder="Nom" [(ngModel)]="form.name" #name="ngModel" required />
            <div *ngIf="f.submitted && name.invalid">
              <div *ngIf="name.errors.required">Le nom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Prenom</label>
            <input type="text" class="form-control" name="prenom" placeholder="prenom" [(ngModel)]="form.prenom" #prenom="ngModel" required />
            <div *ngIf="f.submitted && prenom.invalid">
              <div *ngIf="prenom.errors.required">Le prenom est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" required />
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Le email est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Type</label>
            <input type="text" class="form-control" name="type" placeholder="Type" [(ngModel)]="form.type" #type="ngModel" required />
            <div *ngIf="f.submitted && type.invalid">
              <div *ngIf="type.errors.required">Le type est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">titre</label>
            <input type="text" class="form-control" name="titre" placeholder="Titre" [(ngModel)]="form.titre" #titre="ngModel" required />
            <div *ngIf="f.submitted && titre.invalid">
              <div *ngIf="titre.errors.required">Le titre est requis</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" name="description" placeholder="description" [(ngModel)]="form.description" #description="ngModel" required />
            <div *ngIf="f.submitted && description.invalid">
              <div *ngIf="description.errors.required">Le email est requis</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">addReq</button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
              Signup failed!<br/>{{errorMessage}}
            </div>
          </div>
        </form> 
        
        


        
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>