<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div>
          <select  (change)="selectChangeHandler($event)">
            <option value="">Fonction</option>
            <option value="etudiant">Etudiant</option>
            <option value="parent">Parent</option>
            <option value="professeur">Professeur</option>
            <option value="consultant">Consultant</option>
            <option value="user">Simple Utilisateur</option>
         
        </select>
        
      </div>
   
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" name="name" placeholder="Nom" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Le nom est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" name="prenom" placeholder="Prenom" [(ngModel)]="form.prenom" #prenom="ngModel" required />
        <div *ngIf="f.submitted && prenom.invalid">
          <div *ngIf="prenom.errors.required">Le prenom est requis</div>
        </div>
      </div>

      <div class="form-group">
        <label for="date">Date de naissance</label>
        <input type="date" class="form-control" name="date"  value="1990-01-01" min="1900-01-01" max="2018-12-31" [(ngModel)]="form.date" #date="ngModel" required>
        <div *ngIf="f.submitted && date.invalid">
          <div *ngIf="date.errors.required">La date est requis</div>
        </div>
      </div>

      <div class="form-group">
        <label for="tel">Telephone</label>
        <input type="text" class="form-control" name="tel" placeholder="Telephone" [(ngModel)]="form.tel" #tel="ngModel" required />
        <div *ngIf="f.submitted && tel.invalid">
          <div *ngIf="tel.errors.required">Le telephone est requis</div>
        </div>
      </div>

      <div class="form-group">
        <label for="username">Pseudo d'utilisateur</label>
        <input type="text" class="form-control"  placeholder="Pseudo Utilisateur" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="adress">Adresse</label>
        <input type="text" class="form-control" name="adress" placeholder="Adresse" [(ngModel)]="form.adress" #adress="ngModel" required />
        <div *ngIf="f.submitted && adress.invalid">
          <div *ngIf="adress.errors.required"> Adresse est requis</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>